/* ************************************* */
/* ------ BB CSS for BASE TEMPLATE ----- */
/* ************************************* */

/* ::::::::::::::::::::::::::::::: GLOBALS :::::::::::::::::::::::::::::::::: */
html,
body {
  background-color: #f3f3f0;
  margin:0;
  padding:0;
  height:100%;
 }

/* following 3 classes for sticky footer */
.wrapper {
  min-height:100%;
  position:relative;
}
.content {
  padding-bottom:205px; /* Height of the footer element */
}
.footer {
  width:100%;
  height:205px;
  position:absolute;
  bottom:0;
  left:0;
}

/* make full width for small screens; centered for large */
@media (max-width: 991px){
  .container {
    width:100%;
   }
  }

/* ::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::: */

/* --- EXTERNAL LINKS (TOPMOST) --- */
.external-links p{
  margin-bottom: 0px;
 }
.external-links a{
  text-decoration: underline;
  color: #003057; /* odu blue */
  font-weight: 400;
  font-family:"Open Sans", sans-serif;
  font-size: 15px;
 }

/* --- ORSG TITLE BLUE BAR (MIDDLE) --- */
.bluebar{
  background-color:#003057;
  height:50px;
  margin-left: -15px;
  margin-right: -15px;
 }

.logo{
  border-style: solid;
  border-color: #fff;
  border-width:1px;
  margin-right:10px;
  float:left;
  width:140px;
  background:#f3f3f0;
  margin-top:-25px;
}

.titlebar{
  color:#fff;
  font-weight:500;
  line-height:50px;
 }

/* --- LAB NAVBAR (BOTTOM) --- */
#LabNav {
  background-color:#fff;
  padding-left: 0px;
  margin-left:-10px;
  margin-bottom:20px;
  width: 77%;
 }
#LabNav .active {
  background-color: #555555;
  opacity: 0.6;
  border-radius: 100%;
  color: #fff;
 }
#LabMenu.siteMenu a{
  line-height:7px;
 }

#LabNav .nav-item:not(.active){
  color: #222;
 }


 /* do this on mouse-over: */
#LabNav .nav-item:hover {
  background-color: #555555;
  opacity: 0.6;
  border-radius: 100%;
  color: #fff;
 }

/* dropdown menu text */
#LabNav .dropdown-item {
   color:#bcbcbc;
   font-size: 13px !important;
   padding:15px 0px 15px 10px;
  }

/*  menu button or small screens  */
#menuBtn{
  background-color: #fff;
  width: 50%;
  height: 30px;
 }

#menuBtnTxt {
  display:flex;
  justify-content:space-around;
  font-size:17px;
  margin-top:-3px;
 }

/* ::::::::::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::::::::: */
#university-footer, #university-footer *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
 }
.foot-background {
  background-color: #003057;
  justify-content: space-between;
  flex: 1;
 }
#university-footer {
  color:#fff;
  padding-top:15px;
  display:flex;
  align-content:flex-end;
 }
#university-footer a{
  color:#fff;
  text-decoration:underline;
 }
#address{
  margin-bottom: 0px;
  font-size:14px;
}
#contact li{
  font-size: 13px;
  list-style: none;
  line-height:20px;
  }

img.footer-map-img{
  max-width:100%;
 }

#ODU-Description p{
  margin-top: 1px;
  /*margin-bottom: 0px;*/
  font-size:13px;
 }

#Connect>p{
  font-size: 14px;
 }
.connect-icons{
  font-size: 1.2em;
  line-height: 1.55em;
}

#copyright-footer{
  font-size:13px;
  color: #fff;
  display:flex;
  justify-content: space-between;
 }
#copyright-footer p{
   margin-top:2px;
   margin-bottom:2px;
}
#copyright-footer a{
  color: #fff;
  text-decoration:underline;
 }

/* ::::::::::::::::::::::::: RESPONSIVE HEADER/FOOTER ::::::::::::::::::::::: */

@media(max-width:991px){
  #LabNav .nav-item{
   /*margin-left:0px;*/
    padding-left:5px;
    padding-right: 5px;
   }
  .lab-footer{
   margin-left: 15px;
  }
  #ODU-Description>p{
   font-size:12.5px;
  }
}

@media(max-width: 767px){
  .bluebar .container {
    margin-left:0px;
   }
  .logo {
    width: 91px;
    margin-top:-10px;
   }
  .titlebar {
    font-size:25.5px;
   }
  #navrow {
    margin-right:-33px;
   }
  #LabNav .nav-item{
    font-size:12.55px;
   }
  /* dropdown menu text */
  #LabNav .dropdown-item {
     font-size: 12px !important;
     padding-top: 10px;
     padding-bottom: 10px;
    }
  .footer-map-img{
     margin-bottom: 15px;
     margin-top: 15px;
  }
}

@media(max-width: 575px){
  #LabNav{
    background-color: #f3f3f0;
    width:50%;
   }
  #LabNav .nav-item active{
    /*margin-top:10px;*/
    width: 30%;
    color: #222;
    font-size: 14px !important;

   }
  #LabNav .nav-item:hover {
    width: 100px;
    margin-left:-2px;
   }
  #menuBtn {
    margin-top: -6px;
    /*background-color:#fff;*/
    width:60%;
   }
  #LabMenu {
    width:60%;
    background-color: #fff;
    margin-top:1px;
   }
 }

@media(max-width: 400px){
  .external-links>p, .external-links a{
    font-size: 12px;
   }
  #menuBtn {
    width:85%;
   }
  #LabMenu {
    width:85%;
   }
}

/* -------------------- */
@media(min-width:576px){

 /* actual dropdown menu */
 #LabNav .dropdown:hover .dropdown-menu {
   background-color: #555555;
   display: flex;
   flex-direction: column;
   margin-top:-1px;
  }
 }


/* ************************************************************************** */

/* --- HOMEPAGE--- */
.carousel-prev {
  left: -65px;
}

.carousel-next {
  right: 80px;
}

.carousel-caption {
    /*top: 0;*/
    top: 150px;
    text-align:right;
}
.welcome-text {
  text:nowrap;
 }

#homepage-carousel {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
 }

.welcome-text {
  line-height:30px;
  /*margin-bottom:130px;*/
 }

/* --- PUBLICATIONS --- */
.odu-list ul{
  list-style:none;
  list-style-type:none;
  padding-left: 0px;
 }
.odu-list li{
  background:#fff;
  margin-right: 20px;
  line-height: 18px;
  /*padding-right: 5px;*/
 }
.odu-list h5{
  /*font-size:24px;*/
  line-height:22px;
  padding: 5px;
 }
 .odu-list h6{
   /*font-size:24px;*/
   line-height:22px;
   padding: 5px;
  }
.odu-list dl{
  margin-bottom:15px;
  line-height:20px;
 }
.odu-list dd{
  padding: 2px 5px 10px 15px;
  font-size: 16px;
 }
.odu-list p{
  padding: 2px 5px 20px 15px;
  line-height: 25px;
 }
.odu-list h2,h3,h5,h6{
  page-break-after:avoid
 }

.odu-list h1,h2,h3,h4,h5,h6{
  font-family:"Open Sans",
  sans-serif;
  font-weight:600;
  font-style:normal;
  color:#003057;
 }

/* --- RESEARCH --- */
#affiliates {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
 }

.affiliate-panel{
  background-color:#fff;
  text-align:center;
  padding-bottom:5px;
 }
 .affiliate-panel img{
  width:85%;
  margin-top:20px;
 }
h5.affiliate-panel{
  margin-bottom: 0px;
  background-color:#fff;
 }

/* --- JOIN US --- */
#grad-row {
  margin-bottom: 30px;
 }
#grad-pos-img {
  width: 975px;
  /*height: 125px;*/
 }

.joinus-row{
  width:87%;
  margin-left:15px;
  margin-bottom:35px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color:#fff;
  /*justify-content:flex-end;*/
 }
.joinus {
  background-color:#fff;
  line-height:30px;
  padding-top:10px;
  margin-left:10px;
 }
 #grad-comic {
  height:250px;
 }

/* smaller font size for publications on small screens */
@media (max-width: 1199px){
 .carousel-prev {
  left: 0px;
}

.carousel-next {
  right: 0px;
}
#grad-pos-img {
  width: 900px;
 }
 .joinus-row{
  width:97%;
 }
 #grad-comic {
   height:250px;
  }
}

@media (max-width: 991px){
.odu-list dl{
  line-height:18px;
 }
.odu-list dd{
  font-size: 13.5px;
  margin-bottom: 0px;
 }
#grad-pos-img {
  width: 103.5%;
 }
.joinus-row{
 padding-left:0px;
 width:100%;
 justify-content: space-between;
}
#grad-comic{
 margin-left: -40px;
 height:200px;
 }
}

@media (max-width: 767px) {
  #homepage-carousel {
    margin-top: 30px;
    margin-bottom: 50px;
   }

  .welcome-text {
    margin-bottom:100px;
   }

  .welcome-text h3{
    font-size: 20px;
   }
  .welcome-text>p{
    font-size: 15px;
   }
  #affiliates{
    margin-right: 20px;
   }
  .affiliate-panel img{
    width:55%;
   }
  .research-fonts h5{
    font-size: 19px;
   }
  .research-fonts p{
    font-size: 14px;
   }
  .odu-list dd {
    font-size:13.5px;
    line-height:17px;
   }
   .joinus-row{
    width:98%;
   }
   .joinus>h3{
     font-size: 22px;
    }
   .joinus>p{
     font-size: 15px;
    }
   #grad-comic{
    margin-left: 0px;
    }
 }
@media (max-width: 575px) {
  #homepage-carousel {
    margin-top: 20px;
    margin-bottom: 40px;
   }

  .welcome-text {
    margin-bottom:80px;
   }

  .welcome-text>p {
    margin-top:15px;
    line-height: 25px;
   }

  .odu-list dl{
    margin-top: -10px;
  }
  .odu-list dd {
    font-size:13.5px;
    line-height:17px
  }
  #grad-row{
    margin-top:10px;
   }

  .joinus>h4{
    font-size: 18px;
   }
  .joinus>p{
    font-size: 13px;
   }
 }
@media (max-width: 450px) {

  #homepage-carousel {
    margin-top: 10px;
    margin-bottom: 20px;
   }

  .welcome-text {
    margin-bottom:40px;
   }

  .welcome-text>p {
    margin-top:10px;
    line-height: 22px;
   }

  .item-height img{
    height:80px;
   }
  .welcome-text h3{
    font-size: 18px;
   }
  .welcome-text>p{
    font-size: 13px;
   }

  .odu-list dl{
    margin-top: -12px;
  }
  .odu-list h6{
   font-size:15px;
  }
  .odu-list dd{
   font-size:12px;
  }
 #grad-pos-img {
   height: 80px;
  }
  .joinus-row{
   width: 95%;
  }
  .joinus>h4{
    font-size: 17px;
   }
  .joinus>p{
    font-size: 12px;
    line-height: 25px;
   }
   #grad-comic{
     height:150px;
    }
}

 /* bigger font for Affiliates header on large screens */
@media (min-width: 1200px) {
 h5.affiliate-panel {
    font-size:25px;
    line-height:30px;
   }
 }


/* ******************************* PEOPLE *********************************** */
.portraits {
  /*width:60%;*/
  padding: 10px;
  float: left;
 }
.people-well {
  margin-bottom: 10px;
 }
.person {
  margin-left:10px;
  margin-right:10px;
  background-color:#fff;
 }
.person>h6{
  margin-top:10px;
  margin-left:10px;
  color: #003057;
 }
.person>p{
  margin-right:10px;
 }
@media (max-width: 991px){
  .person>p{
    font-size: 13.5px;
   }
 }
@media (max-width: 575px) {
  .portraits{
   width:135px;
  }
  .person>h5{
   font-size:17px;
  }
  .person>p{
   font-size:14px;
  }
}
@media (max-width: 450px) {
  .portraits{
   width:105px;
  }
  .person>h5{
   font-size:15px;
  }
  .person>p{
   font-size:12px;
  }
}
 /* ***************************** TEACHING ********************************** */
.course {
  margin-left:10px;
  background-color:#fff;
 }
.course-pic {
  /*width:60%;*/
  padding: 10px;
  float: right;
 }
.course-well {
  /*background-color:#fff;*/
  margin-bottom: 10px;
  width:100%
 }

 .course-well>h4 {
  width: 100%;
  text-align: center;
  font-style:italic;
  line-height:40px;
 }
.course>h5{
  margin-top:10px;
  margin-left:10px;
  color: #003057;
 }
.course>p{
  margin-left:10px;
 }

.course>h5{
  color: #003057;
 }

@media (max-width: 575px) {
  .course-pic{
   width:235px;
  }
 .course-well>h4 {
   font-size:22px;
  }
  .course>h5{
   font-size:18px;
  }
  .course>p{
   font-size:16px;
  }
 }
@media (max-width: 480px) {
  .course-pic{
   width:135px;
  }
 .course-well>h4 {
   font-size:17px;
  }
  .course>h5{
   font-size:15px;
  }
  .course>p{
   font-size:13px;
  }
}
