/* ************************************* */
/* ------ BB CSS for BASE TEMPLATE ----- */
/* ************************************* */
body {
  background-color: #f3f3f0;
 }

/* :::::::::::::::::::::::::::::: EXTERNAL LINKS :::::::::::::::::::::::::::: */
.external-links p{
  margin-bottom: 0px;
 }
.external-links a{
  text-decoration: underline;
  color: #003057; /* odu blue */
  font-weight: 400;
  font-family:"Open Sans", sans-serif;
  font-size: 15px;
 }

/* :::::::::::::::::::::::::::: ORSG TITLE BAR  ::::::::::::::::::::::::::::: */

.bluebar{
  background-color:#003057;
  height:50px;
 }

.logo{
  border-style: solid;
  border-color: #fff;
  border-width:1px;
  margin-right:10px;
  float:left;
  width:140px;
  background:#f3f3f0;
  margin-top:-25px;
}

.titlebar{
  color:#fff;
  font-weight:500;
  line-height:50px;
 }


/* :::::::::::::::::::::: SITE NAVIGATION :::::::::::::::::::::: */
#labnav {
  background-color:#fff;
  padding-left: 0px;
  margin-left:-10px;
  width: 77%;
 }

#LabMenu.siteMenu a{
  line-height:7px;
 }

#labnav .nav-item{
  color: #222
 }

 /* do this on mouse-over: */
#labnav .nav-item:hover {
  background-color: #555555;
  opacity: 0.6;
  border-radius: 100%;
  color: #fff;
 }

/* dropdown menu text */
#labnav .dropdown-item {
   color:#bcbcbc;
   font-size: 13px !important;
   padding:15px 0px 15px 10px;
  }

/* -- menu button or small screens -- */
#menuBtn{
  background-color: #fff;
  width: 50%;
  height: 20px;
 }

#menuBtnTxt {
  display:flex;
  justify-content:space-around;
  font-size:15px;
  margin-top:-3px;
 }

/* ::::::::::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::::::::: */
#university-footer, #university-footer *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
 }
#university-footer {
  color:#fff;
  padding-top:15px;
  display:flex;
  align-content:flex-end;
 }
#university-footer a{
  color:#fff;
  text-decoration:underline;
 }
#address{
  margin-bottom: 0px;
  font-size:14px;
}
#contact li{
  font-size: 13px;
  list-style: none;
  line-height:20px;
  }

img.footer-map-img{
  max-width:100%;
 }

#ODU-Description p{
  margin-top: 1px;
  /*margin-bottom: 0px;*/
  font-size:13px;
 }

#Connect>p{
  font-size: 14px;
 }
.connect-icons{
  font-size: 1.2em;
  line-height: 1.55em;
}

#copyright-footer{
  font-size:13px;
  color: #fff;
  display:flex;
  justify-content: space-between;
 }
#copyright-footer p{
   margin-top:2px;
   margin-bottom:2px;
}
#copyright-footer a{
  color: #fff;
  text-decoration:underline;
 }

/* :::::::::::::::::::::::::::: RESPONSIVE DESIGN ::::::::::::::::::::::::::: */
@media(max-width: 575px){
  #labnav{
    background-color: #f3f3f0;
   }
  #labnav .nav-item{
    /*padding-top:10px;*/
    width:30%;
    color: #222;
    font-size: 14px !important;
   }
  #labnav .nav-item:hover {
    width:30%;
   }

  #labnav .dropdown-item {
    color: #fff;
    font-size: 12px !important;
    padding-top: 10px;
    padding-bottom: 10px;
   }

 }

@media(max-width: 767px){
  .bluebar .container {
    margin-left:0px;
   }
  .logo {
    width: 91px;
    margin-top:-10px;
   }
  .titlebar {
    font-size:21.1px;
   }
  #navrow {
    margin-right:-33px;
   }
  #labnav .nav-item{
    font-size:12.55px;
   }
  /* dropdown menu text */
  #labnav .dropdown-item {
     font-size: 12px !important;
     padding-top: 10px;
     padding-bottom: 10px;
    }
}

@media(max-width:992px){
  #labnav {
    /*width:75%;*/
    /*padding-right:100px;*/
   }

  #labnav .nav-item{
   /*margin-left:0px;*/

    padding-left:5px;
    padding-right: 5px;
   }
}

/* -------------------- */
@media(min-width:576px){

 /* actual dropdown menu */
 #labnav .dropdown:hover .dropdown-menu {
   background-color: #555555;
   display: flex;
   flex-direction: column;
   margin-top:-1px;
  }
 }





/* OLDDDDDDD ###########################################################*/
@media(max-width: 325px){
  /*.titlebar{
    margin:0;
    padding:0;
    height:19px;
   }*/
  .titlebar h2>a{
    /*font-size:2.7vw;*/
    /*color:#fff;*/
    /*margin-left:130px;*/
    /*position:relative;*/
    /*bottom:16px;*/
   }
  .fontsize a {
    /*font-size:2.5vw;*/
   }
  .siteMenu-loc {
    /*margin-top: -8px;*/
   }
  #welcome-text {
    /*margin-left: 15px;*/
   }
  #welcome-text>h3 {
    /*margin-bottom: 40px;*/
    /*font-size: 20px;*/
   }
  #welcome-text>h6 {
    /*font-size: 14px;*/
    /*line-height: 40px;*/
   }
 }

@media (min-width: 326px) and (max-width: 559px){
  #Topbar.list-inline{
   /*padding-right: 20px;*/
  }
  .titlebar{
    /*height:23px;*/
   }
  .titlebar a{
    /*font-size:2.5vw;*/
    /*margin-left:175px;*/
    /*position:relative;*/
    /*bottom:13px;*/
   }
  .fontsize a {
    /*font-size:2.5vw;*/
   }
  #menuBtn{
    /*margin-top:8px;*/
   }
  #welcome-text {
    /*margin-left: 15px;*/
   }
  #welcome-text>h3 {
    /*margin-bottom: 40px;*/
    /*font-size: 25px;*/
   }
  #welcome-text>h6 {
    /*font-size: 16px;*/
    /*line-height: 40px;*/
   }
 }

@media (min-width: 560px) and (max-width: 576px) {
  #Topbar.list-inline {
   /*padding-right:5px;*/
  }
  .titlebar a{
    /*font-size:2.5vw;*/
    /*margin-left:215px;*/
    /*position:relative;*/
    /*bottom:8px;*/
   }
  .fontsize a {
    /*font-size:2.1vw;*/
   }

  #welcome-text {
    /*margin-left: 15px;*/
   }
  #welcome-text>h3 {
    /*margin-bottom: 40px;*/
    /*font-size: 25px;*/
   }
  #welcome-text>h6 {
    /*font-size: 18px;*/
    /*line-height: 40px;*/
   }
 }

@media (min-width: 577px) and (max-width: 767px) {

  #Topbar.list-inline{
    /*padding-right: 10px;*/
  }

  .titlebar a{
    /*font-size:2.5vw;*/
    /*margin-left:280px;*/
    /*position:relative;*/
    /*bottom:6px;*/
   }
  .fontsize a {
    /*font-size:1.9vw;*/
   }
  .siteMenu-loc {
    /*margin-top: -16px;*/
  }

  #welcome-text {
   /*margin-left: 15px;*/
   /*font-size: 1.1em;*/
   /*margin-top: 50px;*/
   }
  #welcome-text>h3 {
   /*margin-bottom: 40px;*/
   /*font-size: 25px;*/
   }
   #welcome-text>h6 {
   /*font-size: 18px;*/
   /*line-height: 40px;*/
    }
 }

/* ::: FOOTER ::: */
@media (max-width: 767px) {
 .footer-map-img{
    margin-bottom: 15px;
    margin-top: 15px;
 }
}
@media (max-width: 991px) {
 .lab-footer{
  margin-left: 15px;
 }
}

/* ****************************** HOMEPAGE ********************************** */

#welcome-text {
  margin-top: 75px;
  text-align: left;
 }

#welcome-text>h3{
  font-family: 'Enriqueta', arial, serif;
  color:  #003057;
  font-style: italic;
  font-weight: bold;
  font-size: 23px;
 }

#welcome-text>h6 {
  line-height:20px;
 }

/* ************************ RESEARCH/PUBLICATIONS*************************** */
.odu-list {
  margin-top: 10px;
 }
.odu-list ul{
  list-style:none;
  list-style-type:none;
 }
.odu-list li{
  background:#fff;
  margin-right: 20px;
  line-height: 18px;
  /*padding-right: 5px;*/
 }
.odu-list h2{
  font-size:24px;
  line-height:22px;
  padding: 5px;
 }
.odu-list dl{
  margin-bottom:15px;
  line-height:20px;
 }
.odu-list dd{
  padding: 2px 5px 10px 15px;
 }
.odu-list dt{
  font-size:12px;
  font-weight:bold;
 }

.odu-list p{
  padding: 2px 5px 20px 15px;
  line-height: 25px;
 }
.odu-list h2,h3{page-break-after:avoid}

.odu-list h1,h2,h3,h4,h5,h6{
  font-family:"Open Sans",
  sans-serif;font-weight:600;
  font-style:normal;
  color:#003057;
 }

#affiliates {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
 }

.affiliate-panel{
  background-color:#fff;
  text-align:center;
  padding-bottom:5px;
 }
 .affiliate-panel img{
  width:85%;
  margin-top:20px;
 }
h2.affiliate-panel{
  margin-bottom: 0px;
  background-color:#fff;
 }
/* smaller font size for publications on small screens */
@media (max-width: 576px) {
  .odu-list h2 {font-size:17px;line-height:14px; padding-bottom: 2px;}
  .odu-list dd {font-size:14px;line-height:13px}
 }

@media (max-width: 768px) {
  #affiliates{
   margin-right: 20px;
 }

  .affiliate-panel img{
   width:55%;
  }
 }

 /* bigger font for Affiliates header on large screens */
@media (min-width: 1200px) {
 h2.affiliate-panel {
    font-size:30px;
    line-height:30px;
   }
 }

/* ****************************** JOIN US *********************************** */

#joinus-text {
  padding: 20px;
  line-height:30px;
  color:#222;
  text-align: center;
 }
 @media (max-width: 576px) {
   #gradcomic {
     max-width: 70%;
    }
   #joinus-text {
     font-size: 16px;
     line-height:25px;
    }
  }

/* ******************************* PEOPLE *********************************** */
.portraits {
  /*width:60%;*/
  padding: 10px;
  float: left;
 }

.people-well {
  margin-bottom: 10px;
 }
.person {
  margin-left:10px;
  margin-right:10px;
  background-color:#fff;
 }
.person>h5{
  margin-top:10px;
  margin-left:10px;
  color: #003057;
 }
.person>p{
  margin-right:10px;
 }

@media (max-width: 480px) {
  .portraits{
   width:105px;
  }
  .person>h5{
   font-size:15px;
  }
  .person>p{
   font-size:13px;
  }
}

 /* ***************************** TEACHING ********************************** */
.course {
  margin-left:10px;
  background-color:#fff;
 }
.course-pic {
  /*width:60%;*/
  padding: 10px;
  float: right;
 }
.course-well {
  /*background-color:#fff;*/
  margin-bottom: 10px;
  width:100%
 }

 .course-well>h4 {
  width: 100%;
  text-align: center;
  font-style:italic;
  line-height:40px;
 }
.course>h5{
  margin-top:10px;
  margin-left:10px;
  color: #003057;
 }
.course>p{
  margin-left:10px;
 }

.course>h5{
  color: #003057;
 }
@media (max-width: 480px) {
  .course-pic{
   width:105px;
  }
  .course>h5{
   font-size:15px;
  }
  .course>p{
   font-size:13px;
  }
}
