/* control spacing */
/**:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
/* end control spacing */

body {
	background: #f3f3f0 /*off-white*/;
}

/* properties of the top most bar */
#topbar {background:#f3f3f0;
         margin-bottom: 0px;
         text-align: right;
         /*height: 39px;*/
         }

#topbar.list-inline a { font-family:"Open Sans", sans-serif;
                        font-weight:600;
                        color: #003057; /* odu blue */}


.titlebar{
 background: #003057
 font-family:"Open Sans", sans-serif;
 font-weight:600;
 margin-top: 0;
 text-align: center;
 /*position: relative;*/
}

.titlebar h2 { background: #003057;
               }

.titlebar a { color: #fff; /*white*/
              font-family:"Open Sans", sans-serif;
              font-weight:600;
              text-decoration: none;
              }
