/* control spacing */
/**:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
/* end control spacing */

body {
	background: #f3f3f0 /*off-white*/;
}

/* properties of the top most bar */
/*#topbar {background:#f3f3f0;
         margin-bottom: 0px;
         /*text-align: right;*/
         /*font-size:2.5vw*/
         /*height: 100px;*/
         /*position: relative;*/

         }*/

#topbar.list-group {background: #f3f3f0;;}

#topbar.sm-list {
         list-style: none;
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         /*font-size:2.5vw;*/
         color: #003057; /* odu blue */
         padding: 1px;
        }

#topbar.sm-list a{
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         font-size:2.5vw;
         color: #003057; /* odu blue */
        }

/*#topbar.list-inline a { font-family:"Open Sans", sans-serif;
                        font-weight: 700;
                        font-size:1vw;
                        color: #003057; /* odu blue */
                       }*/

.titlebar{
 background: #003057
 font-family:"Open Sans", sans-serif;
 font-weight:600;
 margin-top: 0;
 /* make bar extend across */
 padding-right: 0; /*15px in bootstrap.css*/
 padding-left: 0;  /*idem*/
 /*margin-right: auto;*/
 /*margin-left: auto;*/
}

.titlebar h2 { background: #003057;
               /*padding-left: 20px;*/
               }

/* 'Ocean Remote Sensing Group' */
.titlebar a { color: #fff; /*white*/
              font-family:"Open Sans", sans-serif;
              font-weight:600;
              text-decoration: none;
              /*font-size:3vw;*/
              /*padding-left: 10px;*/
              /*margin-top: 5px;*/

              }

/* -BB- customize nav bar style */
.mega_css3 {
 /* set background of nav bar to white: */
 background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
}

/*.mega_css3 ul.level0 > li.mega > a.mega {
color: #555555;
}*/
 /*.mega_css3 ul.level0 li.mega a.mega:hover,*/
 /*.mega_css3 a.over,*/
 .mega_css3 a.active,
 /*.mega_css3 ul.level1 li.mega.active > a.mega,*/
 /*.mega_css3.mega_css3_light ul.level1 li.mega a.mega.over,*/

 /*.mega_css3 ul.level1 li.mega a:hover,*/

/* font color and background of buttons */
 .mega_css3 ul.level1 li.mega a.over {
 color: #555555;
 background-color: #ffffff;
 }

/*@media screen and (max-width: 767px) {
.mega_css3 .menubar,
.mega_css3 ul.level0 > li.mega {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
   }
 }*/
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }

    .topbar-item-xs{
         font-size: 5vw;
         /*list-style: none;*/
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         /*font-size:2.5vw;*/
         color: #003057; /* odu blue */
      }

    .topbar-item-xs a{
             font-family:"Open Sans", sans-serif;
             font-weight: 700;
             color: #003057; /* odu blue */
         text-align: right;
      }

    .title-font-xs a{
      font-size: 4vw;
      /*margin-left: 725px;*/
     }

}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
    .topbar-item{
         font-size: 2px;
         /*list-style: none;*/
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         /*font-size:2.5vw;*/
         color: #003057; /* odu blue */
      }

    .topbar-item a{
             font-family:"Open Sans", sans-serif;
             font-weight: 700;
             color: #003057; /* odu blue */
             font-size: 12px;
    }
    .title-font-sm a{
      font-size: 4vw;
      margin-left: 200px;
     }

}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
    .topbar-item{
         /*list-style: none;*/
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         /*font-size:2.5vw;*/
         color: #003057; /* odu blue */
      }

    .topbar-item a{
             font-family:"Open Sans", sans-serif;
             font-weight: 700;
             color: #003057; /* odu blue */
         font-size: 12px;
         text-align: right;
      }

     .title-font-md a{
       font-size: 4vw;
       margin-left: 100px;
      }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }

    .topbar-item-lg{
         /*list-style: none;*/
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         /*font-size:2.5vw;*/
         color: #003057; /* odu blue */
      }

    .topbar-item-lg a{
             font-family:"Open Sans", sans-serif;
             font-weight: 700;
             color: #003057; /* odu blue */
             font-size: 2.5vw;
             padding-left:20px;
             padding-left:20px;
    }
    .title-font-lg a{
      font-size: 4vw;
      margin-left: 725px;
     }
      }
}
