/* control spacing */
/**:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
/* end control spacing */

body {
	background: #f3f3f0 /*off-white*/;
}

/* properties of the top most bar */
#topbar {background:#f3f3f0;
         margin-bottom: 0px;
         text-align: right;
         /*height: 39px;*/
         /*position: relative;*/

         }

#topbar.list-group {background: #f3f3f0;;}

#topbar.sm-list {
         list-style: none;
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         font-size:2.5vw;
         color: #003057; /* odu blue */
         padding: 1px;
        }

#topbar.sm-list a{
         font-family:"Open Sans", sans-serif;
         font-weight: 700;
         font-size:2.5vw;
         color: #003057; /* odu blue */
        }
#topbar.list-inline a { font-family:"Open Sans", sans-serif;
                        font-weight: 700;
                        font-size:1vw;
                        color: #003057; /* odu blue */
                       }

#titlebar.container-fluid{
  padding-right: 0px; /*15px in bootstrap.css*/
  padding-left: 0px; /*15px in bootstrap.css*/
  margin-right: -15px;
  margin-left: -15px;
  /*margin: 0 auto;*/
  /*width: 100%;*/
 }

.titlebar{
 background: #003057
 font-family:"Open Sans", sans-serif;
 font-weight:600;
}

.titlebar h2 { background: #003057;
              /*margin-right: -15px;*/
              /*padding-right: -15px;*/
              /*width: 100%;*/
               }

/* 'Ocean Remote Sensing Group' */
.titlebar a { color: #fff; /*white*/
              font-family:"Open Sans", sans-serif;
              font-weight:600;
              text-decoration: none;
              /*font-size:2vw;*/
              /*margin-right: -15px;*/
              /*margin-top: 5px;*/
              }

/* -BB- customize nav bar style */
.mega_css3 {
 /* set background of nav bar to white: */
 background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
}

/*.mega_css3 ul.level0 > li.mega > a.mega {
color: #555555;
}*/
 /*.mega_css3 ul.level0 li.mega a.mega:hover,*/
 /*.mega_css3 a.over,*/
 .mega_css3 a.active,
 /*.mega_css3 ul.level1 li.mega.active > a.mega,*/
 /*.mega_css3.mega_css3_light ul.level1 li.mega a.mega.over,*/

 /*.mega_css3 ul.level1 li.mega a:hover,*/

/* font color and background of buttons */
 .mega_css3 ul.level1 li.mega a.over {
 color: #555555;
 background-color: #ffffff;
 }

/*@media screen and (max-width: 767px) {
.mega_css3 .menubar,
.mega_css3 ul.level0 > li.mega {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
   }
 }*/


@media(max-width: 321px){
  .titlebar-xxxs{
     margin:0;
     padding:0;
     padding-left:0px;
     height:20px;
     margin-bottom:-30px; /* move button up */
     padding-bottom:-300px;
    }

  .titlebar-xxxs h2>a{
    font-size:2.7vw;
    /*color:#fff;*/
    margin-left:130px;
    position:relative;
    bottom:13px;
  }
}

@media (min-width: 321px) and (max-width: 560px){
  .titlebar-xxs{
     margin:0;
     padding:0;
     padding-left:1px;
     height:23px;
     margin-bottom:-30px; /* move button up */
     padding-bottom:-300px;
    }

  .titlebar-xxs h2>a{
    font-size:2.7vw;
    /*color:#fff;*/
    margin-left:160px;
    position:relative;
    bottom:13px;
  }
}
@media (min-width: 560px) and (max-width: 576px) {
  .titlebar-xs a{
    font-size:2vw;
    margin-left:210px;
    position:relative;
    bottom:8px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
  .titlebar-sm a{
    font-size:2vw;
    margin-left:270px;
    position:relative;
    bottom:6px;
    }
}
@media (min-width: 767px) and (max-width: 991px)  {
  .titlebar-md{
     /*margin:0;*/
     /*padding:0;*/
     /*padding-left:1px;*/
     height:28px;
     /*margin-bottom:-30px; /* move button up */*/
     /*padding-bottom:-30/0px;*/
    }
  .titlebar-md a{
    font-size:2vw;
    margin-left:250px;
    position:relative;
    bottom:6px;
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .titlebar-lg a{
    font-size:2vw;
    margin-left:300px;
    position:relative;
    bottom:5px;
    }
}
@media (min-width: 1199px) and (max-width: 1400px){
  .titlebar-xl a{
    font-size:3vw;
    margin-left:370px;
    }
}
@media (min-width: 1400px) {
  .titlebar-xxl a{
    font-size:3vw;
    margin-left:450px;
    }

@media (min-width: 1700px) {
  .titlebar-xxxl a{
    font-size:3vw;
    margin-left:590px;
    }
}
