/* Initial settings -- if use will overwrite header/footer*/
/*html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline
 }*/
#pubdiv dt{
  font-size:12px;
  font-weight:bold;
 }

#pubdiv dl{
  margin-bottom:15px;
 }
#pubdiv dd{
  padding-top:7px;
  padding-left:15px;
 }
#pubdiv ul{
  background:#fff;
  list-style:none;
  list-style-type:none;
  padding-bottom:3px;
 }
#pubdiv li{
  margin-right: 20px;
  line-height: 18px;
 }

#pubdiv h2{font-size:24px;line-height:22px;padding:7px 0}

#pubdiv h2,h3{page-break-after:avoid}

#pubdiv h1,h2,h3,h4,h5,h6{font-weight:bold}

#pubdiv h1,h2,h3,h4,h5,h6{font-family:"Open Sans",sans-serif;font-weight:600;font-style:normal;color:#003057}

#pubdiv em{font-style:italic}

/* smaller font size for small screens */
@media (max-width: 576px) {
  #pubdiv h2 {font-size:17px;line-height:14px; padding-bottom: 2px;}
  #pubdiv dd {font-size:14px;line-height:13px}
 }
