{% load static %}
<!-- classes added dynamically by javascript library modernizer i think
https://css-tricks.com/why-use-classes-or-ids-on-the-html-element/ -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="" style=""><!--<![endif]-->

<head>
	<title>BH Lab -- Home</title>
        <!-- <link rel="stylesheet" href="{% static 'css/sebs-unit.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/sebs-header.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/bb-ru.css' %}"> -->
</head>
<body>
  <!-- START LOGO -->
 <div id="main-logo-wrapper" class="row">
  <!-- for small, large-12, for different devices -->
     <div class="large-12 columns">
       <a href="http://sebs.rutgers.edu/" id="main-logo"><span class="hide-for-small-up">Rutgers School of Environmental and Biological Sciences</span></a>
     </div>
   </div>

 <!-- START BLACK NAV  BAR -->

<div id="uber-nav-wrapper" class="contain-to-grid hide-for-small">
    <nav class="top-bar" id="uber-nav" data-topbar="">
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="http://rutgers.edu/">Make this bar ODU white</a></li>
          <li><a href="http://newbrunswick.rutgers.edu/">Put the ODU Headings</a></li>
          <li><a href="http://my.rutgers.edu/">myRutgers</a></li>
          <li><a href="http://search.rutgers.edu/web.html">Search Rutgers</a></li>
          <li><a href="https://webmail.marine.rutgers.edu/">DMCS Webmail</a></li>
        </ul>
      </section>
    </nav>
  </div>

 <!-- START RED  BAR -->
<div id="unit-bar-wrapper" class="contain-to-grid">
    <nav id="unit-bar" class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="/">Hamlington Lab - make odu blue</a> | <a href="http://marine.rutgers.edu/main/">Put Logo</a></h1></li>
      </ul>
    </nav>
  </div>




 </body>
