{% load static %}
<!-- classes added dynamically by javascript library modernizer i think
https://css-tricks.com/why-use-classes-or-ids-on-the-html-element/ -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="" style=""><!--<![endif]-->

<head>
	<title>ORSG - Home</title>
        <!-- <link rel="stylesheet" href="{% static 'css/sebs-header.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/base-header.css' %}">
</head>
<body>
 <div id="main-logo-wrapper" class="row">
  <!-- for small, large-12, for different devices -->
     <div class="large-12 columns">
       <a href="http://www.odu.edu/" id="main-logo"><span class="hide-for-small-up">Old Dominion University</span></a>
     </div>
   </div>

<div id="uber-nav-wrapper" class="contain-to-grid hide-for-small">
    <nav class="top-bar" id="uber-nav" data-topbar="">
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="http://www.ccpo.odu.edu">Center for Physical Oceanography</a></li>
          <li><a href="http://www.odu.edu/oeas">Ocean, Earth, Atmospheric Sciences</a></li>
          <li><a href="http://www.odu.edu/sci">College of Sciences</a></li>
        </ul>
      </section>
    </nav>
  </div>

<div id="unit-bar-wrapper" class="contain-to-grid">
    <nav id="unit-bar" class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">Ocean Remote Sensing Group</a></h1></li>
      </ul>
    </nav>
  </div>




 </body>
