{% extends "__base.html" %}
{% load static %}
{% block content %}

<!-- Carousel -->
<div class="container">
  <div class="row-fluid" style=margin-left:15px;>
    <div class="carousel slide" id="homepage-carousel" date-ride="carousel">
     <ol class="carousel-indicators" style="top: 95%">
       {% for carousel_image in carousel_image_list %}
           <li data-target="#homepage-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if carousel_image == 'grad-positions-crop.png' %} active {% endif %}"</li>
       {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for carousel_image in carousel_image_list %}
        <div class="carousel-item item-height {% if carousel_image == 'grad-positions-crop.png' %} active {% endif %}">
          <a href="{% url "Join" %}"><img src="{% static "images/home/" %}{{ carousel_image }}" class="rounded img-fluid d-block"/></a>
          <div class="carousel-caption d-none d-md-block">
          </div><!-- End Caption -->
        </div><!-- End Carousel-item -->
        {% endfor %}
        <a class="carousel-control-prev carousel-prev" href="#homepage-carousel" role=button data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <span class="sr-only">Previous</span>
          </span>
        </a>
        <a class="carousel-control-next carousel-next" href="#homepage-carousel" role=button data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="sr-only">Next</span>
          </span>
        </a>
      </div><!-- End carousel-inner -->
     </div><!-- End Row -->
    </div><!-- End Carousel -->
  <div class="row-fluid">
    <div class="col-xl-10 welcome-text">
      <h3 class=>Welcome to Ben Hamlington's Ocean Remote Sensing Group</h3>
      <p>We are part of the Center for Coastal Physical Oceanography in the Ocean, Earth and Atmospheric Sciences Department at Old Dominion University. <br>
         Our research focus is on past, present and future sea level rise, specializing in the use of satellite observations to improve the understanding of the ocean.<br>
         On this page, we will provide updates on group activities, including recently published papers.
         Please feel free to get in touch with any questions, or if you are interested in joining our group. </p>
    </div><!-- End Col -->
  </div><!-- End Row -->
</div><!-- end container -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });
</script>
{% endblock content %}
