{% extends "__base.html" %}
{% load static %}
{% block content %}

<div class="container odu-list">
  <ul>
    <li>
      <h6>Book Chapters</h6>
      <dl>
        <dd>Hamlington, B., Godin, O. A., Irisov, V. G., and Leben, R. R.  (2011).  Detection of Tsunamis from Changes in Ocean Surface Roughness.<em>The Tsunami Threat-Research and Technology</em>. InTech.</dd>
      </dl>
    </li>
    <li>
      <h6>Articles</h6>
      <dl>
        <dd>Hamlington, B., Cheon, S., Thompson, P., Merrifield, M., Nerem, R., Leben, R., and Kim, K.  (2016). An ongoing shift in Pacific Ocean sea level. <em>Journal of Geophysical Research: Oceans</em>, 121 (7), (pp. 5084–5097).</dd>
        <dd>Thompson, P., Hamlington, B., Landerer, F., and Adhikari, S.  (2016). Are long tide gauge records in the wrong place to measure global mean sea level rise?. <em>Geophysical Research Letters</em>, 43 (19),</dd>
        <dd>Hamlington, B., Thompson, P., Hammond, W., Blewitt, G., and Ray, R.  (2016). Assessing the impact of vertical land motion on twentieth century global mean sea level estimates. <em>Journal of Geophysical Research: Oceans</em>, 121 (7), (pp. 4980–4993).</dd>
        <dd>Cheng, Y., Hamlington, B., Plag, H., and Xu, Q.  (2016). Influence of ENSO on the variation of annual sea level cycle in the South China Sea. <em>Ocean Engineering</em>, 126, (pp. 343–352).</dd>
        <dd>Fasullo, J., Nerem, R., and Hamlington, B.  (2016). Is the detection of accelerated sea level rise imminent?. <em>Scientific Reports</em>, 6,</dd>
        <dd>Cheng, Y., Ezer, T., and Hamlington, B.  (2016). Sea Level Acceleration in the China Seas. <em>Water</em>, 8 (7), (pp. 293).</dd>
        <dd>Merrifield, M., Leuliette, E., Thompson, P., Chambers, D., Hamlington, B., Jevrejeva, S., Marra, J., Menéndez, M., Mitchum, G., Nerem, R., and others  (2016). Sea level variability and change [in “State of the Climate in 2015”]. <em>Bulletin of the American Meteorological Society</em>, 97 (8 (Supplement)), (pp. S80–S82).</dd>
        <dd>Han, W., Meehl, G. A., Stammer, D., Hu, A., Hamlington, B., Kenigson, J., Palanisamy, H., and Thompson, P.  (2016). Spatial Patterns of Sea Level Variability Associated with Natural Internal Climate Modes. <em>Surveys in Geophysics</em> (pp. 1–34).</dd>
        <dd>Aaron-Morrison, A., Ackerman, S., Adams, N., Adler, R., Albanil, A., Alfaro, E., Allan, R., Alves, L., Amador, J., Andreassen, L., and others  (2016). State of the Climate in 2015. <em>Bulletin of the American Meteorological Society</em>, 97 (8), (pp. S1–S275).</dd>
        <dd>Hamlington, B. D., Thompson, P. R., Hammond, W., Blewitt, G., and Ray, R.  (2016). Assessing the impact of vertical land motion on estimates of 20th century global mean sea level. <em>Journal of Geophysical Research - Oceans</em>, 121, (pp. 4980-4993).</dd>
        <dd>Strassburg, M., Hamlington, B., Manrung, R., Lumban-Gaol, J., Nababan, B., and Kim, K.  (2015). Sea level trends in Southeast Asian seas. <em>Climate of the Past</em>, 11 (5),</dd>
        <dd>Hamlington, B., Leben, R., Kim, K., Nerem, R., Atkinson, L., and Thompson, P.  (2015). The effect of the El Nino-Southern Oscillation on US regional and coastal sea level. <em>Journal of Geophysical Research: Oceans</em>, 120 (6), (pp. 3970–3986).</dd>
        <dd>Cheng, Y., Plag, H., Hamlington, B. D., Xu, Q., and He, Y.  (2015). Regional sea level variability in the Bohai Sea, Yellow Sea, and East China Sea. <em>Continental Shelf Research</em>, 111, (pp. 95–107).</dd>
        <dd>Kim, K., Hamlington, B. D., and Na, H.  (2015). Theoretical foundation of cyclostationary EOF analysis for geophysical and climatic variables: Concepts and examples. <em>Earth-Science Reviews</em>, 150, (pp. 201-218).</dd>
        <dd>Kim, K., Hamlington, B., and Na, H.  Mechanism of Seasonal Arctic Sea Ice Evolution and Arctic amplification. <em>Climate Dynamics</em></dd>
        <dd>Merrifield, M., Thompson, P., Leuliette, E., Mitchum, G., Chambers, D., Nere, S., Sweet, W., and Hamlington, B. D.  (2015). [Global oceans] Sea level variability and change [in “State of the Climate in 2014”]. <em>Bulletin of the American Meteorological Society</em>, 96 (7),</dd>
        <dd>Hamlington, B. D., Leben, R. R., Kim, K., Nerem, R. S., Atkinson, L., and Thompson, P.  (2015). The Effect of the El Niño-Southern Oscillation on United States Regional and Coastal Sea Level. <em>Journal of Geophysical Research - Oceans</em>, 120 (6), (pp. 3970–3986).</dd>
        <dd>Hamlington, B. D., and Thompson, P. R.  (2015). Considerations for Estimating the 20th Century Trend in Global Mean Sea Level. <em>Geophysical Research Letters</em>, 42 (10), (pp. 4102–4109).</dd>
        <dd>Hamlington, B. D., Milliff, R. F., van Loon, H., and Kim, K.  (2015). A Southern Hemisphere Sea Level Pressure-based Precursor for ENSO Warm and Cold Events. <em>Journal of Geophysical Research - Atmosphere</em>, 120 (6), (pp. 2280-2292).</dd>
        <dd>Hamlington, B. D., Hamlington, P. E., Collins, S. G., Alexander, S. R., and Kim, K.  (2015). Effects of Climate Oscillations on Wind Resource Variability in the United States. <em>Geophysical Research Letters</em>, 42 (1), (pp. 145-152).</dd>
        <dd>Han, W., Meehl, G. A., Hu, A., Alexander, M. A., Yamagata, T., Yuan, D., Ishii, M., Pegion, P., Zheng, J., Hamlington, B., and others  (2014). Intensification of decadal and multi-decadal sea level variability in the western tropical Pacific during recent decades. <em>Climate dynamics</em>, 43 (5-6), (pp. 1357–1379).</dd>
        <dd>Strassburg, M. W., Hamlington, B. D., Leben, R. R., Manurung, P., Nababan, B., Vignudelli, S., Lumban Gaol, J., and Kim, K.  (2014). Sea level trends in South East Asian Seas (SEAS). <em>Climate of the Past Discussions</em>, 10, (pp. 4129-4148).</dd>
        <dd>Strassburg, M. W., Hamlington, B. D., Leben, R. R., and Kim, K.  (2014). A comparative study of sea level reconstruction techniques using 20 years of satellite altimetry data. <em>Journal of Geophysical Research - Oceans</em>, 119, (pp. 4068–4082).</dd>
        <dd>Merrifield, M. A., Thompson, P., Leuliette, E., Nerem, R. S., Hamlington, B. D., Chambers, D. P., Mitchum, G. T., McInnes, K., Marra, J. J., Menendez, M., and Sweet, W.  (2014). [Global oceans] Sea level variability and change [in “State of the Climate in 2013”]. <em>Bulletin of the American Meteorological Society</em>, 95 (7), (pp. S71-S73.).</dd>
        <dd>Hamlington, B. D., Strassburg, M. W., Leben, R. R., Nerem, R. S., Han, W., and Kim, K.  (2014). Uncovering an anthropogenic sea-level rise signal in the Pacific Ocean. <em>Nature Climate Change</em>, 4, (pp. 782-785).</dd>
        <dd>Hamlington, B. D., Leben, R. R., Strassburg, M. W., and Kim, K.  (2014). Cyclostationary Empirical Orthogonal Function Sea Level Reconstruction. <em>Geoscience Data Journal</em>, 1 (1), (pp. 13-19).</dd>
        <dd>Hamlington, B., Leben, R., Strassburg, M., Nerem, R., and Kim, K.  (2013). Contribution of the Pacific Decadal Oscillation to global mean sea level trends. <em>Geophysical Research Letters</em>, 40 (19), (pp. 5171–5175).</dd>
        <dd>Hamlington, B., Leben, R., Godin, O., Gica, E., Titov, V., Haines, B., and Desai, S.  (2012). Could satellite altimetry have improved early detection and warning of the 2011 Tohoku tsunami?. <em>Geophysical Research Letters</em>, 39 (15),</dd>
        <dd>Hamlington, B., Leben, R., and Kim, K.  (2012). Improving sea level reconstructions using non-sea level measurements. <em>Journal of Geophysical Research: Oceans</em>, 117 (C10),</dd>
        <dd>Hamlington, B., Leben, R., Wright, L., and Kim, K.  (2012). Regional sea level reconstruction in the Pacific ocean. <em>Marine Geodesy</em>, 35 (sup1), (pp. 98–117).</dd>
        <dd>Hamlington, B., Leben, R., Nerem, R., Han, W., and Kim, K.  (2011). Reconstructing sea level using cyclostationary empirical orthogonal functions. <em>Journal of Geophysical Research: Oceans</em>, 116 (C12),</dd>
        <dd>Hamlington, B.  (2011). Sea level hazards: Altimetric monitoring of tsunamis and sea level rise.</dd>
        <dd>Leben, R., Hamlington, B., and Haines, B.  (2011). Seasat and Geosat Revisited: Using Sea Level Measurements to Improve Satellite Altimeter Orbits. <em>The Journal of the Astronautical Sciences</em>, 58 (3), (pp. 479–493).</dd>
        <dd>Hamlington, B., Leben, R., Nerem, R., and Kim, K.  (2011). The effect of signal-to-noise ratio on the study of sea level trends. <em>Journal of Climate</em>, 24 (5), (pp. 1396–1408).</dd>
        <dd>Godin, O., Irisov, V., Leben, R., Hamlington, B., and Wick, G.  (2009). Variations in sea surface roughness induced by the 2004 Sumatra-Andaman tsunami. <em>Natural Hazards and Earth System Science</em>, 9 (4),</dd>
        <dd>Chen, X., Hamlington, B., and Shen, A. Q.  (2008). Isotropic-to-nematic phase transition in a liquid-crystal droplet. <em>Langmuir</em>, 24 (2), (pp. 541–546).</dd>
        <dd>Hamlington, B., Steinhaus, B., Feng, J. J., Link, D., Shelley, M. J., and Shen, A. Q.  (2007). Liquid crystal droplet production in a microfluidic device. <em>Liquid Crystals</em>, 34 (7), (pp. 861–870).</dd>
        <dd>Shen, A. Q., Hamlington, B., Knoblauch, M., Peters, W. S., and Pickard, W. F.  (2006). Forisome based biomimetic smart materials. <em>Smart Structures and Systems</em>, 2 (3), (pp. 225–235).</dd>
      </dl>
    </li>
    <li>
      <h6>Conference Proceeding</h6>
      <dl>
        <dd>Kim, J. J., Kim, K., Hamlington, B., and Na, H.  (2015).  Seasonal Mechanism of sea ice melting in the Arctic Seas. ,<em>AGU Fall Meeting Abstracts</em></dd>
        <dd>Kim, K., Kim, J. J., Yeo, S., Na, H., Hamlington, B., and Leben, R.  (2015).  Understanding the Mechanism of Arctic Amplification and Sea Ice Loss. ,<em>AGU Fall Meeting Abstracts</em></dd>
        <dd>Hamlington, B., Leben, R., Godin, O., Gica, E., Titov, V., and Haines, B.  (2012).  Near Real-Time Tsunami Detection Using Satellite Altimetry. ,<em>EGU General Assembly Conference Abstracts</em> (pp. 11480)</dd>
        <dd>Han, W., Meehl, G., Hu, A., Yamagata, T., Alexander, M., Deser, C., Yuan, D., Ishii, M., Quan, X., Zheng, J., and others  (2012).  Pacific Decadal Sea Level Change Patterns associated with a Warming Indo-Pacific Warm Pool. ,<em>AGU Fall Meeting Abstracts</em> (pp. 0917)</dd>
        <dd>Hamlington, B., Leben, R. R., Nerem, R. S., and Kim, K.  (2010).  New method for reconstructing sea level from tide gauges using satellite altimetry. ,<em>Geoscience and Remote Sensing Symposium (IGARSS), 2010 IEEE International</em> (pp. 781–784)</dd>
        <dd>Hamlington, B., Leben, R. R., Godin, O. A., and Irisov, V. G.  (2010).  On the feasibility of tsunami detection using satellite-based sea surface roughness measurements. ,<em>Geoscience and Remote Sensing Symposium (IGARSS), 2010 IEEE International</em> (pp. 3035–3038)</dd>
        <dd>Phillips, T., Hamlington, B., Nerem, R., and Leben, R.  (2010).  The influence of uncertainty in past sea level reconstructions on 21st century mean sea level projections. ,<em>AGU Fall Meeting Abstracts</em></dd>
        <dd>Godin, O., Irisov, V., Leben, R., Hamlington, B., and Wick, G.  (2008).  Variations in the Microwave Backscatter From the Ocean Surface Induced by the 2004 Sumatra-Andaman Tsunami. ,<em>AGU Fall Meeting Abstracts</em> (pp. 1320)</dd>
        <dd>Shen, A., Hamlington, B., Knoblauch, M., Peters, W., and Pickard, W.  (2005).  Forisome as biomimetic smart materials. ,<em>Smart Structures and Materials</em> (pp. 97–107)</dd>
      </dl>
    </li>
    <li>
      <h6>Presentations</h6>
      <dl>
        <dd>Hamlington, B. D.  (February 1, 2017). Understanding Sea Level Using Satellite Remote Sensing, Hampton, VA.</dd>
        <dd>Hamlington, B. D.  (December, 2016). Mapping the Fall AGU 2016, San Francisco, CA. </dd>
        <dd>Hamlington, B. D.  (February, 2016). Understanding and Communicating the Timescales of Sea Level Change Oral Presentation presented at AAAS 2016, Washington DC.</dd>
        <dd>Hamlington, B. D.  (November 16, 2015). What do we really know about 20th century GMSL? Oral Presentation presented at Science Pubs, Norfolk, VA.</dd>
        <dd>Hamlington, B. D.  (November 11, 2015). Vertical Land Motion and Sea Level Rise Oral Presentation presented at NASA Sea Level Change Team Meeting, Lake Arrowhead, CA.</dd>
        <dd>Hamlington, B. D.  (October 19, 2015). Multivariate Sea Level Reconstruction 1900-2014 Oral Presentation presented at NASA Ocean Surface Topography Science Team Meeting, Reston, VA.</dd>
        <dd>Hamlington, B. D.  (October 19, 2015). What do we really know about 20th century GMSL? Keynote/Plenary Address presented at NASA Ocean Surface Topography Science Team Meeting, Reston, VA.</dd>
        <dd>Hamlington, B. D.  (June 20, 2015). Sea Level Science and Projections Lecture presented at ACCO Climate Science, Washington DC.</dd>
        <dd>Hamlington, B. D.  (April 2, 2015). Towards Regional Sea Level Projections:Assessing the Contribution of Natural Climate Variability to Regional Sea Level Rise Oral Presentation presented at OEAS Seminar, Norfolk, VA.</dd>
        <dd>Hamlington, B. D.  (March 12, 2015). Towards Regional Sea Level Projections:Assessing the Contribution of Natural Climate Variability to Regional Sea Level Rise Lecture presented at Seminar at University of South Florida, St. Petersburg, FL.</dd>
        <dd>Hamlington, B. D.  (February 27, 2015). Towards Regional Sea Level Projections:Assessing the Contribution of Natural Climate Variability to Regional Sea Level Rise Oral Presentation presented at University of South Carolina Seminar, Columbia, SC.</dd>
        <dd>Hamlington, B. D.  (December 16, 2014). Uncovering an Anthropogenic Sea Level Rise Signal in the Pacific Ocean Oral Presentation presented at American Geophysical Union Fall Meeting, San Francisco, USA.</dd>
        <dd>Hamlington, B. D.  (October 29, 2014). Uncovering an Anthropogenic Sea Level Rise Signal in the Pacific Ocean Oral Presentation presented atNew Frontiers of Altimetry, Konstanz, Germany.</dd>
        <dd>Hamlington, B. D.  (October 28, 2014). Near Real-time and Historical Monitoring of the Earth’s Climate System Using Satellite Altimetry and Reconstructed Sea Level Oral Presentation presented at New Frontiers of Altimetry, Konstanz, Germany.</dd>
        <dd>Hamlington, B. D.  (October 27, 2014). Sea Level and Climate Change Outreach for High School Students Oral Presentation presented at New Frontiers of Altimetry, Konstanz, Germany.</dd>
        <dd>Hamlington, B. D.  (June 16, 2014). CSEOF-based Sea Level Height Reconstruction Oral Presentation presented at International Conference on Coastal Engineering 2014, Seoul, South Korea.</dd>
        <dd>Hamlington, B. D.  (February 24, 2014). Climate Variability Contributions to Global and Regional Sea Level, Ocean Sciences Meeting Oral Presentation presented at Ocean Sciences Meeting, Honolulu, USA.</dd>
        <dd>Hamlington, B. D.  (February 11, 2014). Cyclostationary Empirical Orthogonal Function Analysis: Theory and Applications Oral Presentation presented at Boulder Fluids Seminar, Boulder, USA.</dd>
      </dl>
    </li>
  </ul>
</div>

{% endblock content %}
