{% extends "__base.html" %}
{% load static %}
{% block content %}

<div class="container odu-list">
  <div class="row">
  <ul class="col-md-7 col-lg-8 research-fonts" >
    <li>
      <h5>About</h5>
        <p>The Ocean Remote Sensing Group at Old Dominion University studies a wide range of research topics including sea level rise, ocean/climate variability, natural hazards and climate change.
            The primary focus is on the use of satellite remote sensing to improve our understanding of the ocean in the past, present and future.
            While the group is part of the Ocean, Earth and Atmospheric Sciences Department at ODU, our expertise extends beyond oceanography to include aerospace, civil and mechanical engineering and applied mathematics.</p>
    </li>
    <li>
      <h5>NASA Sea Level Rise Team</h5>
      <p> {{ slr }} </p>
    </li>
    <li>
      <h5>Contracts, Grants and Sponsored Research</h5>
      <dl>
        <dd>Hamlington, B. D. "Understanding Sea Level Over the Last Century: What Do We Really Know?" $231,985. Federal. March 15, 2016 - March 14, 2019</dd>
        <dd>Hamlington, B. D. "￼Collaborative Research: Investigating the Effect of Internal Climate ￼Variability on Sea Level in the Indian Ocean" $292,454. Federal. January 1, 2016 - December 31, 2018</dd>
        <dd>Hamlington, B. D. "Hampton Roads Sea Level Rise Initiative: NASA Spaceborne SAR Subsidence Survey" $100,000. State. July 1, 2016 - June 30, 2018</dd>
        <dd>Hamlington, B. "Bayesian Hierarchical Models for Sea Level Reconstruction" $688,111. Federal. March 6, 2015 - March 5, 2018</dd>
        <dd>Hamlington, B. D. "Observation-Driven Projections of Future Regional Sea Level Change" $86,584. Federal. August 3, 2015 - June 4, 2017</dd>
      </dl>
    </li>
  </ul>
  <section class="col-md-5 col-lg-4 research-fonts" id="affiliates" style="margin-left: -20px;">
    <h5 class="affiliate-panel" style="padding-top:5px;">Our affiliates: </h5>
    <div class="affiliate-panel">
       <a href="https://sealevel.nasa.gov"><img src="{% static "/images/research/nasa-slr.png" %}" alt="NASA-SLR"></a>
    </div>
    <div class="affiliate-panel">
       <a href="https://www.jpl.nasa.gov"><img src="{% static "/images/research/nasa-jpl.png" %}" alt="NASA-JPL"></a>
    </div>
    <div class="affiliate-panel">
       <a href="http://www.ccpo.odu.edu"><img src="{% static "/images/research/odu-ccpo.jpg" %}" alt="CCPO"></a>
    </div>
    <div class="affiliate-panel">
       <a href="http://digitalcommons.odu.edu/ccrfr/"><img src="{% static "/images/research/ccrfr-small.png" %}" alt="ccrfr"></a>
    </div>
    <div class="affiliate-panel">
       <a href="https://www.odu.edu/impact/initiatives/resiliencecollaborative"><img src="{% static "/images/research/odu-rc.jpg" %}" alt="odu-rc"></a>
    </div>
  </section>
 </div><!-- end row -->
</div><!-- end container -->

{% endblock content %}
