{% load static %}

<!-- Main List -->
<div class="container-fluid" >
  <div class="row">
    <div class="col text-md-right">
      <p>
         <a href="http://www.ccpo.odu.edu">Center for Physical Oceanography></a> &bull;
         <a href="http://www.odu.edu/oeas">Ocean, Earth, Atmospheric Science</a> &bull;
         <a href="http://www.odu.edu/sci">College of Sciences</a></a>
      </p>
    </div><!-- End Col -->
  </div><!-- End Row -->
</div><!-- End Container -->

<div style="background-color:#003057; height:50px;">
  <div class="container" style="background-color:#003057">
      <h2 style="color:#fff; line-height:50px; font-weight:500">
        <img class="img rounded logo" style=""src="{% static "images/logo-ODU-3.png" %}" alt="logo">
         Ocean Remote Sensing Group
      </h2>
   </div><!-- End Container -->
  </div><!-- End Background Color -->

  <div class="container">
        <nav class="navbar navbar-toggleable-sm" style="background-color: #fff;" id="BBNAV">
          <button class="navbar-toggler" type="button"
               data-toggle="collapse"  data-target="#LabMenu1"
               aria-controls="" aria-expanded="false" aria-label="toggleNav"
               id="">
            <span id="">Menu</span>
          </button>
          <div class="collapse navbar-collapse siteMenu1 siteMenu-dropdown1" id="LabMenu1">
            <a class="nav-item nav-link active" href="{% url "HomePage" %}">Home</a>
            <a class="nav-item nav-link" href="{% url "Research" %}">Research</a>
            <a class="nav-item nav-link" href="{% url "Teaching" %}">Teaching</a>
           <div class="dropdown">
              <a class="nav-item nav-link" id="peopleDrop1"
                    aria-haspopup="true" aria-expanded="false"href="{% url "People" %}">People</a>
              <ul class="dropdown-menu"  aria-labeled-by="peopleDrop1">
                <li><a class="dropdown-item" href="{% url "People" %}#ben">Ben Hamlington</a></li>
                <li><a class="dropdown-item" href="{% url "People" %}#post-docs">Post-Docs</a></li>
                <li><a class="dropdown-item" href="{% url "People" %}#students">Students</a></li>
                <li><a class="dropdown-item" href="{% url "People" %}">Alumni</a></li>
              </ul><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <a class="nav-item nav-link" href="{% url "Publications" %}">Publications</a>
            <a class="nav-item nav-link" href="{% url "Join" %}">Opportunities</a>
          </div><!-- collapse -->
        </nav>
  </div><!-- End Container -->
