{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean Remote Sensing Group</title>
<meta name="description" content="Ben Hamlington's Lab Website">
<meta name="author" content="Brett Buzzanga">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static "source/font-awesome-4.5.0/css/font-awesome.css" %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "style/slider.css" %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "style/mystyle.css" %}"> -->
<!-- <link rel="stylesheet" href="{% static "css/sebs-mega_css3_orig.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/bb-response.css" %}">

<script src="https://npmcdn.com/tether@1.3.3/dist/js/tether.min.js"></script>
<script src="//github.hubspot.com/tether/dist/js/tether.js"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<!-- <script src="{% static "js/sebs-mega2.js" %}" type="text/javascript"></script> -->

<!-- make navbar show up on highlight -->
	<script type="text/javascript">
				window.addEventListener('load', function() {
					// SL_SFMegaMenu('nav');
				}, false);
	</script>
</head>
<body>


<div class="container-fluid" >
  <div class="row">
   <!-- <div class="col col-4 col-md-2 offset-md-1"> -->
   <section class="media">
    <a class="offset-lg-3" href="https://odu.edu">
      <img class="d-flex align-self-end mr-3 w-75 new" src="{% static "images/logo-ODU.png" %}">
    </a>
   </section>
  </div>
   <!-- </div><!-- row -->
   <!-- <div class="container-fluid titlebar"> -->
   <!-- <h2 class="titlebar title-font-xs title-font-sm title-font-md title-font-lg"> -->
   <div class="container-fluid" style="background: #222">
   <div class="media-body"  >
      <!-- <a class="col-12 offset-md-2 offset-4" -->
      <h2 ><a
         href="#">Ocean Remote Sensing Group</a></h2>
  </div><!-- titlebar/media-body -->
 <!-- </div> -->
 <!-- </div> -->
 </section>
 </div><!-- container -->




</body>







</html>
