{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean Remote Sensing Group</title>
<meta name="description" content="Ben Hamlington's Lab Website">
<meta name="author" content="Brett Buzzanga">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static "source/font-awesome-4.5.0/css/font-awesome.css" %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "style/slider.css" %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "style/mystyle.css" %}"> -->
<!-- <link rel="stylesheet" href="{% static "css/sebs-mega_css3_orig.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/bb-response.css" %}">

<script src="//github.hubspot.com/tether/dist/js/tether.js"></script>
<script src="{% static "js/jquery-3.2.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<!-- <script src="{% static "js/sebs-mega2.js" %}" type="text/javascript"></script> -->

<!-- make navbar show up on highlight -->
	<script type="text/javascript">
				window.addEventListener('load', function() {
					// SL_SFMegaMenu('nav');
				}, false);
	</script>
</head>
<body>

<!-- Header -->
<!-- Main List -->
 <div class="col" >
   <ul  class="list-inline hidden-md-down" id=topbar>
      <li class="list-inline-item">
        <a href="http://www.ccpo.odu.edu">Center for Physical Oceanography // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/oeas">Ocean, Earth, Atmospheric Science // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/sci">College of Sciences</a></li>
   </ul>
</div><!-- col -->

<!-- Mobile List -->
 <div class="hidden-lg-up"  >
   <ul class="list-inline sm-list fontsize-xxxs fontsize-xxs fontsize-xs fontsize-sm fontsize-md fontsize-lg fontsize-xl fontsize-xxl fontsize-xxxl" id=topbar>
      <li class="list-inline-item">
        <a href="http://www.ccpo.odu.edu">CCPO // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/oeas">OEAS // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/sci">Col. of Sci.</a></li>
   </ul>
</div><!-- col -->
</div><!-- container -->

<style>
 img {position: absolute;
      background: #f3f3f0;
      z-index:100;
      margin-top: -20px;
     }
 </style>

<div class="container-fluid">
  <div class="row-fluid">
   <div class="col col-4 col-md-2 offset-md-1">
    <a href="https://odu.edu">
      <img class="img-fluid rounded" src="{% static "images/logo-ODU.png" %}">
    </a>
   </div><!-- cols -->
   </div><!-- row -->
   <div class="container-fluid titlebar titlebar-xxxs titlebar-xxs" id="titlebar">
   <div class="row-fluid">
   <!-- <h2 class="titlebar fontsizeBB title-font-xs title-font-sm title-font-md title-font-lg"> -->
      <h2 class="titlebar titlebar-xxxs titlebar-xxs titlebar-xs titlebar-sm titlebar-md titlebar-lg titlebar-xl titlebar-xxl titlebar-xxxl">
      <a href="#">Ocean Remote Sensing Group</a></h2>
    </div>
  </div><!-- titlebar -->
 </div><!-- container -->

<!-- NavBar -->
  <div class="container">
    <div class="row">
      <div class="col offset-md-3">
        <nav class="navbar navbar-toggleable-sm navbar-light bf-faded" > <!--style="background-color:#fff; font-size:1.2vw"> -->

            <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse" data-target="#labMenu" aria-controls="labMenu"
              aria-expanded="false" aria-label="toggleNav">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="labMenu">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Research</a>
            <a class="nav-item nav-link" href="#">Teaching</a>
            <div class="dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="#" id="peopleDrop"
                    aria-haspopup="true" aria-expanded="false"
                    data-toggle="dropdown">People</a>
                <div class="dropdown-menu" aria-labeled-by="peopleDrop">
                  <a class="dropdown-item" href=#>Ben Hamlington</a>
                  <a class="dropdown-item" href=#>Post-Docs</a>
                  <a class="dropdown-item" href=#>Students</a>
                  <a class="dropdown-item" href=#>Alumni</a>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <a class="nav-item nav-link" href="#">Opportunities</a>
            <a class="nav-item nav-link" href="#">Publication</a>
            <a class="nav-item nav-link" href="#">News</a>
       </div><!-- collapse -->
     </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

<!-- Navigation Bar -->
</body>







</html>
