{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean Remote Sensing Group</title>
<meta name="description" content="Ben Hamlington's Lab Website">
<meta name="author" content="Brett Buzzanga">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">

<!-- ODU -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/clientlibs.min.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/fontawesome4.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/bb-bhlab.css" %}">

<script src="{% static "js/jquery-3.2.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
</head>

<!-- skitter carousel -->
<link rel="stylesheet" type="text/css" href="{% static "css/skitter.css" %}" media="all" />

<!-- <script src="/js/jquery-2.1.1.min.js"></script> -->
<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "js/jquery.skitter.min.js" %}"></script>

<!-- <link rel="stylesheet" type="text/css" href="{% static "css/tmp.css" %}"> -->
</head>

<body>

<!-- Header -->
<!-- Main List -->
  <div class="col" >
    <ul  class="list-inline hidden-md-down" id=Topbar>
      <li class="list-inline-item">
        <a href="http://www.ccpo.odu.edu">Center for Physical Oceanography // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/oeas">Ocean, Earth, Atmospheric Science // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/sci">College of Sciences</a></li>
    </ul>
  </div><!-- col -->

<!-- Mobile List -->
  <div class="hidden-lg-up">
    <ul class="list-inline sm-list fontsize" id=Topbar>
      <li class="list-inline-item">
        <a href="http://www.ccpo.odu.edu">CCPO // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/oeas">OEAS // </a></li>
      <li class="list-inline-item">
        <a href="http://www.odu.edu/sci">Col. of Sci.</a></li>
    </ul>
  </div><!-- col -->

<!-- Titlebar/Logo -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col col-4 col-md-2 offset-md-1">
        <a href="https://odu.edu"><img class="img-fluid rounded"  id="logo" src="{% static "images/logo-ODU.png" %}"></a>
      </div><!-- cols -->
    </div><!-- row -->
    <div class="container-fluid titlebar" id="full">
      <div class="row-fluid">
        <h2 class="titlebar"><a href="#">Ocean Remote Sensing Group</a></h2>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container -->

<!-- NavBar -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="offset-4 col-md-12  offset-md-0">
        <nav class="navbar navbar-toggleable-sm siteMenu-loc">
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"  data-target="#LabMenu"
                    aria-controls="LabMenu" aria-expanded="false" aria-label="toggleNav"
                    id="menuBtn">
                <span id="menuBtnTxt">Menu</span>
            </button>

            <div class="collapse navbar-collapse siteMenu siteMenu-dropdown" id="LabMenu">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Research</a>
            <a class="nav-item nav-link" href="#">Teaching</a>
            <div class="dropdown">
              <a class="nav-item nav-link" href="#" id="peopleDrop"
                    aria-haspopup="true" aria-expanded="false"
                    data-toggle="dropdown">People</a>
                <ul class="dropdown-menu"  aria-labeled-by="peopleDrop">
                  <li><a class="dropdown-item" href=#>Ben Hamlington</a></li>
                  <li><a class="dropdown-item" href=#>Post-Docs</a></li>
                  <li><a class="dropdown-item" href=#>Students</a></li>
                  <li><a class="dropdown-item" href=#>Alumni</a></li>
                </ul><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <a class="nav-item nav-link" href="#">Publications</a>
            <a class="nav-item nav-link" href="#">Opportunities</a>
       </div><!-- collapse -->
     </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

<!-- Skitter Carousel -->
  <div class="container-fluid">
    <div class="skitter skitter-large offset-lg-2 offset-xl-3">
      <ul><li>
        <a href="#OPPORTUNITIES">
          <img src="{% static "images/grad-positions.png" %}" class "img-fluid rounded"/>
        </a>
        <div class="label_text" >
          <p style="text-align: right">Join Us</p>
        </div></li>
      <li>
        <a href="#RESEARCH">
          <img src="{% static "images/earth_and_sun_space.jpg" %}" class "img-fluid rounded"/>
        </a>
        <div class="label_text">
          <p style="text-align: right">Sea Level Rise</p>
        </div></li>
     <li>
       <a href="#TEACHING">
         <img src="{% static "images/satellite.jpg" %}" class "img-fluid rounded"/>
       </a>
       <div class="label_text">
          <p style="text-align: right">Courses</p>
       </div> </li>
     <li>
       <a href="#PEOPLE">
         <img src="{% static "images/cliffbeach.jpg" %}" class "img-fluid rounded"/>
       </a>
         <div class="label_text">
            <p style="text-align: right">People</p>
         </div></li>
     </ul>
    </div>
  </div>

<!-- Welcome Content -->
  <div class="container-fluid">
    <div class="row">
     <div class="col">
     <div id="welcome-text">
     <h3>Welcome to Ben Hamlington's Ocean Remote Sensing Group</h3>
       <h6>We are part of the Center for Coastal Physical Oceanography in the Ocean, Earth and Atmospheric Sciences Department at Old Dominion University. </h6>
       <h6>Our research focus is on past, present and future sea level rise, specializing in the use of satellite observations to improve the understanding of the ocean.</h6>
       <h6>On this page, we will provide updates on group activities, including recently published papers.
           Please feel free to get in touch with any questions, or if you are interested in joining our group. </h6>
    </div>
   </div>
  </div>

  <footer id="university-footer" >
   <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid constrain" id="footer-bar">
      <div class="row-fluid footer-content">
        <section class="parsys grid-3 alpha column section" id="address">
          <p>Old Dominion University<br />
          Norfolk, VA 23529</p>
          <div>
            <ul class="list-group" id="contact">
              <li><a href="/about/contact" title="University Contact & Mailing Information"><i class="fa fa-envelope-o fa-fw"></i> Contact & Mailing Info</a></li>
              <li><a href="/about" title="Directions to Campus"><i class="fa fa-map-marker fa-fw"></i> Directions to Campus</a></li>
            </ul>
          </div><!-- End List Group -->
        </section><!-- End Contact Info -->

        <section class="parsys grid-3 column section"><img title="footer-map-png" alt="footer-map-png" class="cq-dd-image imageComp" origheight="329" origwidth="549" src="{% static "images/footer-map.png" %}"></section><!-- USA MAP -->

        <section class="parsys grid-6 column section" id="ODU-Description">
          <p>Old Dominion University, located in the coastal city of Norfolk, is
             Virginia's entrepreneurial-minded doctoral research university with
             more than 24,500 students, rigorous academics, an energetic
             residential community, and initiatives that contribute $2.6 billion
             annually to Virginia's economy.<br /></p>
        </section><!-- End ODU Description -->

        <section class="parsys grid-4 column omega section" id="Connect">
          <p><br /><a href="/about/connect">Connect with #ODU</a><br />
            <span style="font-size: 1.4em; line-height: 1.55em;">
              <a aria-label="ODU on Facebook" href="/about/connect/facebook"
              title="ODU Facebook"><i class="fa fa-facebook fa-fw"></i></a>
              <a aria-label="ODU on Twitter" href="/about/connect/twitter"
              title="ODU Twitter (@ODU)"><i class="fa fa-twitter fa-fw"></i></a>
              <a aria-label="ODU on Instagram" href="/about/connect/instagram"
              title="ODU on Instagram (@ODUpics)"><i class="fa fa-instagram fa-fw"></i></a>
              <a aria-label="ODU on Youtube" href="/about/connect/youtube"
              title="ODU YouTube"><i class="fa fa-youtube fa-fw"></i></a>
              <a aria-label="ODU on Pinterest" href="/about/connect/pinterest"
              title="ODU Pinterest"><i class="fa fa-pinterest fa-fw"></i></a>
              <a aria-label="ODU on Linkedin" href="/about/connect/linkedin"
              title="ODU on LinkedIn"><i class="fa fa-linkedin fa-fw"></i></a>
              <a aria-label="ODU on Google+" href="/about/connect/googleplus"
              title="ODU on Google+"><i class="fa fa-google-plus fa-fw"></i></a>
              <a aria-label="ODU on iTunes U" href="/about/connect/itunes"
              title="ODU on iTunes U"><i class="fa fa-music fa-fw"></i></a>
            </span>
          </p>
        </section><!-- End Social Media -->
        <hr />
      </div><!-- End Row -->
    <div class="copyright" id="footer-bar">
        <p class="statement">
          Copyright &copy; Old Dominion University &bull;
          Updated 3/21/2017
        </p>
        <p class="links">
          <a href="/privacy">Privacy</a>
          &bull;
          <a href="/educationalaccessibility">Accessibility</a>
          &bull;
          <a href="/about/compliance/transparency">Consumer Information</a>
        </p>
      </div><!-- End Row -->
    </div><!-- End Container -->
   </nav>
  </footer><!-- End Footer -->

<!-- Skitter JS -->
   <script type="text/javascript">
     $('.skitter-large').skitter({
       theme    : "round",
       interval : 6000,
       velocity : 1.3,
       navigation: true,
       numbers_align: "right",
       //progressbar: true"
     });
   </script>
  </body>
</html>
