{% extends "__base.html" %}
{% load static %}
{% block content %}

<div class="container center-block">
    <img class="img-fluid rounded mx-auto d-block"  id="joinus" src="{% static "images/grad-positions-crop.png" %}">

    <h6 id="joinus-text">The Ocean Remote Sensing Group at Old Dominion University is looking for new members!<br>
     We have graduate student positions available, starting in Fall 2018.<br>
     Candidates with a background in engineering, physics, applied mathematics, or oceanography are encouraged to apply.<br>
     Please contact Dr. Ben Hamlington (bhamling@odu.edu) for further information.</h5>

    <img class="img-fluid rounded mx-auto d-block"  id="gradcomic" src="{% static "images/grad_comic.jpg" %}">
</div><!-- end container -->
{% endblock content %}
