<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us" class=" js csstransforms csstransforms3d csstransitions progressbar meter" style=""><!--<![endif]-->
<link rel="stylesheet" href="{% static 'css/odu/clientlibs.min.css' %}" type="text/css">
<header id="university-header">
<hgroup id="university-logo">
 <div class="constrain">
     <h1><a href="www.odu.edu">Old Dominion University</a></h1>
     <h2>Idea Fusion</h2>
 </div>
<div id="university-main-menu" class="main-menu"><nav class="constrain" aria-label="University Navigation">
    <ul>
        <li class="has-flyout">

            <a href="/about">About ODU</a>

            <ul class="flyout">

                <li><a href="/about/president">Office of the President</a></li>



                <li><a href="/about/orgchart">Administration &amp; Organization</a></li>



                <li><a href="/about/bov">Board of Visitors</a></li>



                <li><a href="/about/accreditation">Accreditation</a></li>



                <li><a href="/about/facts-and-figures">Facts &amp; Figures</a></li>



                <li><a href="/about/visitors/hampton-roads">Hampton Roads</a></li>



                <li><a href="/about/historyandarchives">History &amp; Archives</a></li>



                <li><a href="/academics/odufaculty">Nationally Recognized Faculty</a></li>



                <li><a href="/about/odu-publications">ODU Publications</a></li>



                <li><a href="/about/planning">Strategic Planning &amp; Initiatives</a></li>



                <li><a href="/about/contact">Contact the University</a></li>



                <li><a href="/about/connect">Connect with ODU</a></li>

            </ul>



        </li>

        <li class="has-flyout">

            <a href="/academics">Academics</a>

            <ul class="flyout">

                <li><a href="/academics/programs">Programs</a></li>



                <li><a href="/colleges">Colleges</a></li>



                <li><a href="/academics/calendar">Academic Calendar</a></li>



                <li><a href="/academics/catalogs">University Catalogs</a></li>



                <li><a href="/cepd">Continued Learning</a></li>



                <li><a href="/academics/online">Distance Learning</a></li>



                <li><a href="/graduateschool">Graduate School</a></li>



                <li><a href="/honors">Honors College</a></li>



                <li><a href="/academics/rhec">Regional Centers</a></li>



                <li><a href="/academics/international/study-abroad">Study Abroad</a></li>



                <li><a href="/academics/summer">Summer Studies</a></li>

            </ul>



        </li>

        <li class="has-flyout">

            <a href="/admission">Admission</a>

            <ul class="flyout">

                <li><a href="/admission/apply">Apply for Admission</a></li>



                <li><a href="/admission/undergraduate">Undergraduate Admission</a></li>



                <li><a href="/admission/graduate">Graduate Admission</a></li>



                <li><a href="/admission/international">International Admission</a></li>



                <li><a href="/admission/non-degree-admission">Non-Degree Admission</a></li>



                <li><a href="/admission/reactivation">Reactivation</a></li>



                <li><a href="/admission/proficiency">English Proficiency</a></li>



                <li><a href="/admission/admitted">Admitted Student Information</a></li>

            </ul>



        </li>

        <li class="has-flyout">

            <a href="/tuition-aid">Tuition &amp; Financial Aid</a>

            <ul class="flyout">

                <li><a href="/tuition-aid/costs-tuition">Costs &amp; Tuition</a></li>



                <li><a href="/tuition-aid/financial-aid">Financial Aid</a></li>



                <li><a href="/admission/tools/tuitioncalc">Tuition Calculators</a></li>

            </ul>



        </li>

        <li class="has-flyout">

            <a href="/life">University Life</a>

            <ul class="flyout">

                <li><a href="/life/gettinginvolved">Getting Involved</a></li>



                <li><a href="/life/culture">Culture &amp; Entertainment</a></li>



                <li><a href="/life/dining">Dining</a></li>



                <li><a href="/life/housing">Housing</a></li>



                <li><a href="/life/parking-and-transportation">Transportation &amp; Parking </a></li>



                <li><a href="/life/sports-and-fitness">Sports &amp; Fitness</a></li>



                <li><a href="/life/diversity/accessibility">Accessibility</a></li>



                <li><a href="/life/health-safety">Health &amp; Safety</a></li>



                <li><a href="/life/support/student-outreach">Student Outreach</a></li>



                <li><a href="/life/offcampus">Off-Campus University Life</a></li>

            </ul>



        </li>

        <li class="has-flyout">

            <a href="/impact">Research &amp; Entrepreneurship</a>

            <ul class="flyout" style="">

                <li><a href="/impact/expertise">Faculty Expertise</a></li>



                <li><a href="/impact/centers">Research Centers</a></li>



                <li><a href="/impact/initiatives">Research Initiatives</a></li>



                <li><a href="/cei">Center for Enterprise Innovation </a></li>



                <li><a href="/univ-impact/entrepreneurship">Entrepreneurship</a></li>



                <li><a href="/univ-impact/entrepreneurship/strome">Strome Entrepreneurial Center</a></li>



                <li><a href="/research">Office of Research</a></li>



                <li><a href="/odurf">ODU Research Foundation</a></li>

            </ul>



        </li>

        <li>

            <a href="http://www.odusports.com">Athletics</a>





        </li>
    </ul>

</nav></div>
</header>
