{% extends "__base.html" %}
{% load static %}
{% block content %}

<div class="container center-block">
  <div class="row people-well">
    <img class="img-fluid rounded mx-auto d-block"  id="joinus" src="{% static "images/grad-positions-crop.png" %}">
    <div class="person">
    <p id="joinus-text">The Ocean Remote Sensing Group at Old Dominion University is looking for new members!<br>
     We have graduate student positions available, starting in Fall 2018.<br>
     Candidates with a background in engineering, physics, applied mathematics, or oceanography are encouraged to apply.<br>
     Please contact Dr. Ben Hamlington (bhamling@odu.edu) for further information.</p>
     <!-- <div class="container">
       <div class="row people-well" id="ben" style="margin-top:10px;">
         <div class="person" >
           <h6>Dr. Ben Hamlington</h6>
           <p><img class="img rounded portraits" src="{% static "images/hamlington.png" %}" alt="Hamlington">
            Ben Hamlington is an assistant professor in the Ocean, Earth, and Atmospheric Sciences Department at Old Dominion University. Prior to arriving at ODU, Ben obtained his BS and MS in Mechanical Engineering from Washington University in St. Louis, and his PhD in Aerospace Engineering Sciences from the University of Colorado at Boulder. His primary research interest is on past, present and future sea level rise, focusing on the use of satellite observations to improve our understanding of the ocean. Beyond studying sea level, Ben does research on a wide range of topics including ENSO/climate variability, tsunamis, wildfires, and land subsidence.</p>
         </div> -->
        </div>
    <img class="img-fluid rounded mx-auto d-block"  id="gradcomic" src="{% static "images/grad_comic.jpg" %}">
  </div>
</div><!-- end container -->
{% endblock content %}
