{% extends "__base.html" %}
{% load static %}
{% block content %}

<div class="container" >
  <div class="row-fluid" id="grad-row">
    <div class="col">
    <img class="img rounded" id="grad-pos-img" src="{% static "images/join/grad-positions-crop.png" %}">
  </div><!-- End Row -->
 </div><!-- End Col -->
  <div class="row joinus-row" >
    <div class="col-md-6 col-lg-6 joinus">
       <h4>We're looking for new members!</h4>
       <p>We have graduate student positions available, starting in Fall 2018.<br>
       Candidates with a background in engineering, physics, applied mathematics, or oceanography are encouraged to apply.<br>
       Please contact <a href="mailto:bhamling@odu.edu">Dr. Ben Hamlington</a> for further information.<br>
       <a href="{% url "People" %}">Learn about our current members</a> or <a href="{% url "Research" %}">what we do.</a>
      </p>
    </div><!-- End Join Us Text -->
    <div class="col-md-5 col-lg-5 " style="background-color:#fff;">
      <img class="img rounded hidden-sm-down" id="grad-comic" src="{% static "images/join/grad_comic.jpg" %}">
      <img class="img rounded mx-auto d-block hidden-md-up" id="grad-comic" src="{% static "images/join/grad_comic.jpg" %}">
    </div><!-- End Image Cols -->
  </div><!-- End Row -->
</div><!-- End Container -->
{% endblock content %}
