{% extends "__base1.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row course-well">
    <h4>Undergraduate Courses</h4>
    <div class="course">
      <h5>Understanding Global Climate Change</h5>
      <p><img class="img rounded course-pic" src="{% static "images/climate_change.jpg" %}" alt="climate-change">
       Lecture, 3 hours; Lab, 2 hours. 4 credits. What is the science behind global climate change? How reliable are forecasts of future global warming? This course examines these questions to evaluate the likelihood and potential severity of anthropogenic climate change in the coming centuries. It includes an overview of the physics of the greenhouse effect, an overview of the global carbon cycle and its role as a global thermostat; an examination of predictions and reliability of model forecasts of future climate change; and examination of local impacts of global climate change (e.g., sea level rise in the Tidewater area).</p>
       <p><a href=#> View the syllabus here.</a></p>
    </div>
  </div><!-- row -->
  <div class="row course-well">
    <div class="course">
      <h5>Introduction to Meteorology</h5>
      <p><img class="img rounded course-pic" src="{% static "images/hurricane_ike.jpg" %}" alt="ike">
       This course is an introduction to the basic principles governing both day-to-day weather and the average of weather, or climate. Specific focus will be given to the tools used to measure weather and the ways in which these tools have impacted our understanding of weather in the past and present. Links will be made between the technology-based improvements of our understanding of weather and the impact on the lives of humans throughout recent history. Students will learn about how weather forecasts are made, and how the quality of these forecasts affects our lives.</p>
       <p><a href=#> View the syllabus here.</a></p>
    </div>
  </div><!-- row -->
  <div class="row course-well">
    <h4>Graduate Courses</h4>
    <div class="course" style="width:100%">
      <h5>Time Series in Oceanography</h5>
      <p><img class="img rounded course-pic" src="{% static "images/time_series.png" %}" alt="Sommers">
       Lecture 3 hours; 3 credits. Prerequisite: calculus. A study of the basic techniques used to model and analyze time series of oceanoraphic data. These include temporal spatial and frequency/wave number domain techniques.</p>
       <p><a href=#> View the syllabus here.</a></p>
    </div>
  </div><!-- row -->
</div><!-- container -->

{% endblock content %}
